.input-msg{
  position: fixed;
  bottom: 0;
  left: 0;
}


.loader {
  width: 60px;
}

.loader-wheel {
  animation: spin 1s infinite linear;
  border: 2px solid rgba(30, 30, 30, 0.5);
  border-left: 4px solid #fff;
  border-radius: 50%;
  height: 50px;
  margin-bottom: 10px;
  width: 50px;
}

.loader-text {
  color: #fff;
  font-family: arial, sans-serif;
}

.loader-text:after {
  content: 'Loading';
  animation: load 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    content: 'Loading';
  }
  33% {
    content: 'Loading.';
  }
  67% {
    content: 'Loading..';
  }
  100% {
    content: 'Loading...';
  }
}


.emoji-picker{ 
  opacity: 0;
  visibility: hidden;

  position: relative;
}
.emoji-picker--button{
  width: 30px;
  left: -25px;
  position:absolute;
}
.text-message:hover .emoji-picker{
  opacity: 1;
  visibility: visible;

}
.emoji-picker--list {
  position: absolute;
  display: block;
  height: 20vh;
  width: 30vw;
  top: -20vh;
  right: 0;
  overflow: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 1023px) {
  .emoji-picker--list {
    position: fixed;
    top: 5vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    font-size: 2rem !important;
  }
}
.emoji-list--author{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: 300ms all;
}

.emoji-list--data:hover .emoji-list--author{
  opacity: 1;
  visibility: visible;
  width: fit-content;
  top: -10px;
  background:rgba(30, 30, 30, 0.8);
  color: white;
  border-radius: 5px;
  position: absolute;

}
.emoji-list--author.owner{
  transform: translateX(-100px);
  width: 100px;
}